<h1>Admin panel</h1>
<div>
  <%= button_to 'Goods', goods_path, method: :get %>
  <%= button_to 'Categories', categories_path, method: :get %>
  <%= button_to 'Orders and Carts', orders_path, method: :get %>
</div>