<div class="container-fluid"> 
  <div class="row">
    <div class="col-sm-12 col-md-12">

      <div class="page-header">
        <h1>Goods</h1>
      </div>
      <p>
        <%= button_to new_good_path, method: :get, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          Add good
        <% end %>
      </p>

      <% if @goods.empty? %>
        <b>No goods in store</b>
      <% else %>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
           <tr class="warning">
              <th>ID</th>
              <th>Good</th>
              <th>Description</th>
              <th>Category</th>
              <th>Price</th>
              <th>Available</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody id="goods">
            <%= render partial: "good", :collection => @goods, :as => :good %>
          </tbody>
        </table>
        </div>
        <div id="paginator", class="paginate-centre">
          <%= paginate @goods, :remote => true %>
        </div>
      <% end %>

      <p>
        <%= button_to 'Back', admins_path, method: :get, class: "btn btn-default" %>
      </p>

    </div>
  </div>
</div>