<% provide(@category_id.to_sym, 'active') %>

<div class="container-fluid"> 
  <div class="row">

    <%= render 'shared/side_bar' %>

    <div class="col-sm-9 col-md-10">

    <div class="container">
      <div class="page-header">
        <h1>Goods</h1>
      </div>

      <div class="row">
        <div class="col-sm-10 col-md-8 sidebar">
          <% if @goods.empty? %>
            <b>Goods not found</b>
          <% else %>

            <div class="table-responsive">
              <table class="table ">
                <tbody id="goods">
                  <%= render partial: "good", :collection => @goods, :as => :good %>
                </tbody>
              </table>
            </div>
            
            <div id="paginator", class="paginate-centre">
              <%= paginate @goods, :remote => true %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>